<h2>Edit Recipe</h2>
<form name="recipeForm" ng-submit="save()" class="form-horizontal">
	<div class="control-group">
		<label for="title" class="control-label">Title:</label>
		<div class="controls"><input type="text" ng-model="recipe.title" class="input-xlarge" id="title" focus></div>
	</div>
	<div class="control-group">
		<label for="description" class="control-label">Description:</label>
		<div class="controls"><textarea name="" id="description" cols="30" rows="10" class="input-xlarge" ng-model="recipe.description"></textarea></div>
	</div>
	<div class="control-group">
		<label for="ingredients" class="control-label">Ingredients:</label>
		<div class="controls">
			<ul class="unstyled" ng-controller="IngredientsCtrl">
				<li ng-repeat="ingredient in recipe.ingredients">
					<input type="text" ng-model="ingredient.amount" class="input-mini">
					<input type="text" ng-model="ingredient.amountUnits" class="input-small">
					<input type="text" ng-model="ingredient.ingredientName">
					<button class="btn btn-mini" ng-click="removeIngredient($index)">
						<i class="icon-minus-sign"></i>Delete
					</button>
				</li>
				<button class="btn btn-mini" ng-click="addIngredient()">
					<i class="icon-plus-sign"></i>Add
				</button>
			</ul>
		</div>
	</div>
	<div class="control-group">
		<label for="instructions" class="control-label">Instructions:</label>
		<div class="controls">
			<textarea name="" id="instructions" cols="30" rows="10" class="input-xxlarge" ng-model="recipe.instructions"></textarea>
		</div>
	</div>
	<div class="form-actions">
		<button class="btn btn-primary">Save</button>
		<button class="btn" ng-click="remove()" ng-show="!recipe.id">Delete</button>
	</div>
</form>